 <tr>
    <td>
        <p>{{merchant}}</p>
        {{#if report}}
        <div class="report">
            <a href="/expenses/{{_id}}">Report</a>
        </div>
        {{/if}}
    </td>
    <td>
        <img src="static/images/amount.png" alt="">
        <p>лв {{formatTotal total}}</p>
    </td>
    <td>
        <img src="static/images/category.png" alt="">
        <p>{{getCategoryName category }}</p>
    </td>
    <td>
        <img src="static/images/hastag.png" alt="">
        <p>{{ formatDescription description }}</p>
    </td>
</tr>